{% extends "base.html" %}

{% block title %}Your Prompts{% endblock %}

{% block page_content %}
<section class="prompts_list">
    {% if prompts %}
    <ul>
    {% for prompt in prompts %}
        <li>
            <button class="form_btn" onclick="toggleEdit({{ prompt[2] }})">Edit</button>

            <form class="editFormHidden" id="edit_{{ prompt[2] }}" action="" method="POST">
                {% if 'csrf_token' in edit_form %}
                    {{ edit_form.csrf_token }}
                    <input type="text" value="{{prompt[2]}}" name="id" hidden></input>
                    {{ edit_form['body'] }}
                {% endif %}
                <button class="form_btn" action="submit">Confirm</button>
            </form>

            <form action="{{ url_for('prompt_delete', id=prompt[2]) }}" method="POST">
                {% if 'csrf_token' in form %}
                    {{ form.csrf_token }}
                {% endif %}
                <button class="form_btn" action="submit" onclick="return confirm('Are you sure you want to delete this post?')">Delete</button>
            </form>
            
            <p>{{ prompt[0] }}</p>
        </li>
    {% endfor %}
    </ul>

    {% else %}
    <p>No prompt for now!</p>
 
    {% endif %}    
</section>

<section>
    <p>Add an exchange's tagset's content:</p>
    <form action="" method="POST">
        {% if 'csrf_token' in tagset_form %}
            {{ tagset_form.csrf_token }}
        {% endif %}
        {{ tagset_form['url'] }}
        {{ tagset_form['submit'] }}
    </form>

    <p>Add a single prompt:</p>

    <form action="" method="POST">
        {% if 'csrf_token' in prompt_form %}
            {{ prompt_form.csrf_token }}
        {% endif %}

        {{ prompt_form['prompt'] }}
        {{ prompt_form['submit'] }}
    </form>
    
</section>

{% endblock %}